/* Header settings */

#headerContainer { height: 136px; }
#header { height: 136px; }
#logo { display: inline; }
#topAdvertisement { display: inline; }


/* Footer settings */



/* Text settings */



/* Image settings */

